{% if new_child %}
    <ul class="children new-child">
{% endif %}

<li>
    <p>
        {% if node.parent %}
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-play fa-lg" aria-hidden="true"></i>
        {% endif %}

        <span class="comment-date">
            ({{ node.created|date:"D, j N Y, h:i a" }})
        </span>
        <span class="comment-text">{{ node.text }}</span>

        {% if user == node.user %}
            <a href="javascript://"
                data-url="{% url 'comment:update_comment' node.id %}"
                class="update-comment"
            ><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="javascript://"
                data-url="{% url 'comment:delete_comment' node.id %}"
                class="delete-comment"
            ><i class="fa fa-times" aria-hidden="true"></i></a>
        {% endif %}
        <a href="javascript://"
           data-url="{% url 'comment:create_comment' %}"
           data-parent="{{ node.id }}"
           class="add-child"
        >(ответить)</a>

    </p>
    {% if node.is_leaf_node %}
        </li>
    {% endif %}

{% if new_child %}
    </ul>
{% endif %}