li {
    position: relative;
    overflow: hidden;
}

.fa-file-text-o, .fa-play {
    padding-right: 6px;
}

.fa-play, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.parents > li > .children {
    display: none;
}

.new-child {
    display: block;
}

.comment-text {
    padding-right: 6px;
}

.comment-date {
    font: 9pt Verdana;
    color: #b8bba4;
}

.login-text {
    font-size: 19px;
    margin-left: 30px;
}

.flex-block {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.account-place span {
    margin-left: 50px;
    font-size: 17px;
}

textarea {
    border: 1px solid black;
    resize: none;
    overflow: auto;
}

button.add-comment {
    width: 115px;
    height: 33px;
    font-size: 16px;
    margin-left: 15px;
}

.add-new-comment {
    display: flex;
    align-items: center;
}

ul.parents {
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
    width: 60%;
    min-height: 500px;
    overflow: auto;
}

.logout-button {
    margin-left: 20px;
}

.login-with-social, .login-block {
    display: flex;
    justify-content: center;
}

.login-block {
    flex-direction: column;
    margin-top: 15%;
}

.login-with-social-text {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.login-with-social a.btn {
    display: flex;
    align-items: center;
    margin-right: 21px;
    font-size: 16px;
    min-width: 125px;
}