li {
    position: relative;
    overflow: hidden;
}

.fa-file-text-o, .fa-play {
    padding-right: 6px;
}

.parents > li > .children {
    display: none;
}

.new-child {
    display: block;
}

.comment-text {
    padding-right: 6px;
}

.comment-date {
    font: 9pt Verdana;
    color: #b8bba4;
}

.login-text {
    font-size: 19px;
    margin-left: 30px;
}

.flex-block {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.account-place {
    margin-right: 50%;
}

.logout-button {
    margin-left: 20px;
}

.login-with-social {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}